[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ryunsky
[access "refs/for/refs/*"]
	read = group user/Ryunsky
	push = group user/Ryunsky
	label-Code-Review = -2..+2 group user/Ryunsky
	label-Verified = -1..+1 group user/Ryunsky
	rebase = group user/Ryunsky
	removeReviewer = group user/Ryunsky
	submit = group user/Ryunsky
[access "refs/heads/*"]
	read = group user/Ryunsky
	create = group user/Ryunsky
	push = +force group user/Ryunsky
	pushMerge = group user/Ryunsky
[access "refs/tags/*"]
	push = group user/Ryunsky
	push = +force group user/Ryunsky
